doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
  body
    div(id="root")
    div= title
    div= name
    div(id="list")
    div!=JSON.parse(domRender)
    script var raw = !{json};
    script document.querySelector('#list').innerHTML = !{domRender}; //console.log(!{domRender})


